.fc-sat, .fc-sun {
    background-color: #f5dfe2 !important;
}

#cal_nav {
   width: 300px;
   position: absolute;
   z-index: 999;
   left: 50%;
   right: 50%;
   top: -10px;
   margin-left: -150px;
}

#calendars {
    margin: 10px 5px 0 5px;
}